@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
	--color-background: #001418;
	--color-foreground: #fffff0;
	--color-secondary: #104038;
}

* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.App {
	text-align: center;
	font-family: "Quicksand";
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	overflow: hidden;
}

p {
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 30px;
	line-height: 32px;
}

hr {
	margin: 40px 0;
}

::-webkit-scrollbar {
	visibility: hidden;
}

.program-text-container {
	width: 80%;
	max-width: 900px;
	margin-bottom: 200px;
}

.program {
	overflow: auto;
	height: 100vh;
}

@keyframes title {
	0% {margin-top: 150px}
	50% {margin-top: 130px}
	100% {margin-top: 150px}
}

h1 {
	font-size: 50px;
	/*color: var(--color-secondary);*/
	font-family: "Palatino";
	font-weight: lighter;
	letter-spacing: 5px;
	animation-name: title;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	margin-bottom: 0px;
}

.program-title {
	font-size: 35px;
	margin-bottom: 50px;
}

h2 {
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 50px;
	
}

h3 {
	font-weight: lighter;
	font-size: 16px;
	margin-bottom: 50px;
}

.link-container {
	bottom: 30px;
	left: 10px;
	position: fixed;
}

.link {
	all: unset;
	padding: 20px;
	color: var(--color-foreground);
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.link:active {
	text-decoration: none;
}

.ui-button {
	all: unset;
	background-color: #00000000;
	border: solid 1px;
	border-color: #00000000; 
	color: var(--color-foreground);
	padding-left: 20px;
	padding-right: 20px;
	transition: border-color 0.5s, padding-left 0.5s, padding-right 0.5s, background-color 0.5s;
	font-size: 16px;
	height: 32px; 
}

.ui-button:hover {
	border-color: var(--color-foreground);
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;
}

.ui-button:active {
	border-color: var(--color-foreground);
	padding-left: 20px;
	padding-right: 20px;
}

.key-button {
	all: unset;
	background-color: #00000000;
	border: solid 1px;
	border-color: var(--color-foreground);
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
	margin: 5px;
}

.key-button:active, .button-active {
	background-color: var(--color-foreground);
	color: var(--color-background);
	border-color: var(--color-background);
}


input[type=text] {
	all: unset;
	letter-spacing: 5px;
	border-bottom: solid 1px #ffffff;
	background-color: #041717;
	color: #ffffff;
	padding: 2px;
	margin-top: 10px;
	height: 32px;
}

input[type=range] {
	all: unset;
	writing-mode: vertical-lr;
	direction: rtl;
	margin: 5px 30px;
	height: 200px;
	width: 3px;
	background-color: white;
}

input[type=range]::-webkit-slider-thumb {
	appearance: none;
	background-color: white;
	height: 10px;
	width: 25px;
}

.fullscreen-message {
	background-color: var(--color-background);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 100vw;
	font-size: 50px;
	writing-mode: vertical-lr;
}